# ========== 编译产物（make）==========
*.o
*.a
zlg_can_bridge
build/

# ========== 运行 / 调试临时文件 ==========
*.tmp
core
core.*

# ========== 编辑器 / IDE / 系统文件 ==========
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
